
<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
 <form #f="ngForm">
        <ion-list >
            <ion-item>
                <ion-label>Persona</ion-label>
                <ion-checkbox name="personaToggle" [(ngModel)]="personaToggle" (ionChange)='verificacionCheckbox("persona")'></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Entidad</ion-label>
                <ion-checkbox name="entitatToggle" [(ngModel)]="entitatToggle" (ionChange)='verificacionCheckbox("entitat")'></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="entitatToggle">
                <ion-label>Escuela</ion-label>
                <ion-checkbox name="escolaToggle" [(ngModel)]="escolaToggle" (ionChange)='verficacioEntitat("escola")'></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="entitatToggle">
                <ion-label>Marca</ion-label>
                <ion-checkbox name="marcaToggle" [(ngModel)]="marcaToggle" (ionChange)='verficacioEntitat("marca")'></ion-checkbox>
            </ion-item>
            
            <ion-item>
                <ion-label floating>Nickname</ion-label>
                <ion-input required  type="text" name="nickname"   [(ngModel)]="nickname" ></ion-input>
               
            </ion-item>

            <ion-item *ngIf="entitatToggle">
                <ion-label floating>Nombre entidad</ion-label>
                <ion-input required  type="text" name="nombre"  [(ngModel)]="nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Genero</ion-label>
                <ion-select required name="genero" [(ngModel)]="genero">
                    <ion-option value=1>Hombre</ion-option>
                    <ion-option value=2>Mujer</ion-option>
                    <ion-option value=3>Otros</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de nacimiento</ion-label>
                <ion-datetime required  name="dataNaixement" [(ngModel)]="dataNaixement"></ion-datetime>
            </ion-item>


            <ion-item>
                <ion-label floating>E-mail</ion-label>
                <ion-input required name="email" type="email" [(ngModel)]="email" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="password" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Idioma</ion-label>
                <ion-select required name="idioma" [(ngModel)]="idioma">
                    <ion-option value=0>Español</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Pais</ion-label>
                <ion-select required name="pais" [(ngModel)]="pais">
                    <ion-option value="{{pais.codeInteger}}" *ngFor="let pais of paises">{{pais.name}}</ion-option>
                </ion-select>
            </ion-item>


            <ion-item *ngIf="personaToggle && ballariToggle || professorToggle ">
                <ion-label>Rol</ion-label>
                <ion-select name="rol" [(ngModel)]="rol">
                    <ion-option value=1>Follower</ion-option>
                    <ion-option value=2>Leader</ion-option>
                    <ion-option value=3>Follower/Leader</ion-option>
                    <ion-option value=4>Leader/Follower</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="personaToggle">
                <ion-label>Bailarin</ion-label>
                <ion-toggle name="ballariToggle" [(ngModel)]="ballariToggle"></ion-toggle>
            </ion-item>

            <ion-item *ngIf="personaToggle">
                <ion-label>Profesor</ion-label>
                <ion-toggle  name="professorToggle" [(ngModel)]="professorToggle"></ion-toggle>
            </ion-item>

            <ion-item *ngIf="personaToggle">
                <ion-label>Musico</ion-label>
                <ion-toggle name="musicToggle" [(ngModel)]="musicToggle"></ion-toggle>
            </ion-item>
            <ion-item >
                <ion-label floating>Descripción</ion-label>
                <ion-input   name="descripcio" type="descripcio" [(ngModel)]="descripcion"></ion-input>
            </ion-item>
            <ion-item *ngIf="musicToggle">
                <ion-label floating> Instrumento</ion-label>
                <ion-input name="instrumento" [(ngModel)]="instrumento"></ion-input>
            </ion-item>
            <ion-item *ngIf="personaToggle && ballariToggle">
                <ion-label>Año inicio baile</ion-label>
                <ion-datetime  name="anyEmpezarBailar" displayFormat="YYYY" [(ngModel)]="anyEmpezarBailar"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="professorToggle">
                <ion-label>Inicio impartición</ion-label>
                <ion-datetime required  name="iniciImparticions" [(ngModel)]="iniciImparticions"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Vacunado de covid-19</ion-label>
                <ion-checkbox name="vacuna" type="vacunaToggle" [(ngModel)]="vacunaToggle"></ion-checkbox>
            </ion-item>
           
            <div class="btnContainer">

                <div class="btn">
                    
                       
                     
                    <button class="btn" ion-button (click)="openGallery()">Subir Foto</button>
                </div>

            </div>

            <div class="btnContainer">

                <div class="btn">
                    <button *ngIf="personaToggle" [disabled]="!f.valid" class="btn" ion-button
                        (click)="signupPersona(email,password, nickname, genero, idioma, pais, rol, descripcion, vacunaToggle, instrumento, dataNaixement, professorToggle, musicToggle, ballariToggle, iniciImparticions, imatge, anyEmpezarBailar)">Registrarse</button>
                    <button *ngIf="entitatToggle" [disabled]="!f.valid" class="btn" ion-button
                        (click)="signupEntitat(email,password, nickname, dataNaixement, descripcion, imatge, idioma, pais, vacunaToggle, escolaToggle, marcaToggle, nombre, genero)">Registrarse</button>
                </div>

            </div>
            <!-- <div class="btnContainer">

            <div class="btn">
                <button *ngIf="entitat" class="btn" ion-button (click)="signupEntitat(email,password, nickname, genero, idioma, pais, ciudad, rol)">Register</button>
            </div>

        </div> -->


        </ion-list>
    </form>

</ion-content>