<ion-card>
    <ion-item>
        <ion-avatar item-left >
           
            <img src="../../assets/images/fotoadri.jpg" />
        </ion-avatar>
        <div>
            <div>
                <h2>{{asistente['nickname'].charAt(0).toUpperCase() + asistente['nickname'].slice(1)}}</h2>
                <button *ngIf="botoSeguirBloquejar == false" (click)="gotoUsuario() ">Perfil</button>
                <button class="botoSeguir" *ngIf="botoSeguirBloquejar==false && botoFollowUnfollow == false && botoSeguidor == false" (click)="follow()">Seguir</button>
                <button *ngIf="botoFollowUnfollow == true" (click)="unfollow() ">Siguiendo</button>
                
            </div>
        </div>
    </ion-item>
</ion-card>