.btn {
    background-color: $color-principal !important;
    text-align: center !important;
    margin: $margin;
    &:hover {
        //   color: $color-principal !important;
        text-decoration: none !important;
    }
    &.disabled,
    &:disabled {
        opacity: $opacitat !important;
    }
}
.letraLink{
    color: $colorLink;
}

.botoSeguir{
    background-color: $color-principal;
    color: $color-font;
}