.toolbar-background {
    background-color: $color-principal !important;
    color: $color-font !important;
}

.toolbar-title-md {
    font-size: $font-size !important;
    font-weight: 500 !important;
    color: $color-font !important;
    padding: $padding-top $padding-right !important;
}