<!--
  Generated template for the Usuario page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  >
    <ion-title>Perfil Assistent</ion-title>     
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card text-center>

    <ion-avatar>

    </ion-avatar>
    <ion-card-content>
      <h1>{{nickname}}</h1>
    </ion-card-content>

  </ion-card>


  <ion-item>
    <ion-card-content item-left>
      <h2>Idioma</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{idioma}}</p>
    </ion-card-content>
  </ion-item>
  <ion-item>
    <ion-card-content item-left>
      <h2>Fecha</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{dataNaixement}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-card-content item-left>
      <h2>Género</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{genere}}</p>
    </ion-card-content>
  </ion-item>




  <ion-item>
    <ion-card-content item-left>
      <h2>Pais</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{pais}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-card-content item-left>
      <h2>Email</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{email}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-card-content item-left>
      <h2>Descripción</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{descripcio}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item>
    <ion-card-content item-left>
      <h2>Vacunado</h2>
    </ion-card-content>
    <ion-card-content item-right *ngIf="vacuna == 0">
      <img class="imgVacuna" src="../../assets/images/noVacuna.png">
    </ion-card-content>
    <ion-card-content item-right *ngIf="vacuna == 1">
      <img class="imgVacuna" src="../../assets/images/siVacunas.png">
    </ion-card-content>
  </ion-item>


  <ion-item *ngIf="personaid != null">
    <ion-card-content item-left>
      <h2>Rol</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{rol}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item *ngIf="personaid != null">
    <ion-card-content item-left>
      <h2>Tipo</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{tipo}}</p>
    </ion-card-content>
  </ion-item>

  <ion-list *ngIf="personaid != null && tipo == 'Músico'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Instrumento</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{instrument}}</p>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="personaid != null && tipo == 'Bailarín'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Año inicio baile</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{anyEmpezarBailar}}</p>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="personaid != null && tipo == 'Profesor'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Inicio profesor</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{iniciProfessorat}}</p>
      </ion-card-content>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="personaid != null && tipo == 'Músico, Bailarín, Profesor'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Instrumento</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{instrument}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content item-left>
        <h2>Año inicio baile</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{anyEmpezarBailar}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content item-left>
        <h2>Inicio profesor</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{iniciProfessorat}}</p>
      </ion-card-content>
    </ion-item>

  </ion-list>


  <ion-list *ngIf="personaid != null && tipo == 'Músico, Bailarín'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Instrumento</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{instrument}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content item-left>
        <h2>Año inicio baile</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{anyEmpezarBailar}}</p>
      </ion-card-content>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="personaid != null && tipo == 'Músico, Profesor'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Instrumento</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{instrument}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content item-left>
        <h2>Inicio profesor</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{iniciProfessorat}}</p>
      </ion-card-content>
    </ion-item>


  </ion-list>

  <ion-list *ngIf="personaid != null && tipo == 'Bailarín, Profesor'">
    <ion-item>
      <ion-card-content item-left>
        <h2>Año inicio baile</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{anyEmpezarBailar}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content item-left>
        <h2>Inicio profesor</h2>
      </ion-card-content>
      <ion-card-content item-right>
        <p>{{iniciProfessorat}}</p>
      </ion-card-content>
    </ion-item>


  </ion-list>




  <ion-item *ngIf="entitatid != null && escola == 1">
    <ion-card-content item-left>
      <h2>Nombre escuela</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{nom}}</p>
    </ion-card-content>
  </ion-item>

  <ion-item *ngIf="entitatid != null && marca == 1">
    <ion-card-content item-left>
      <h2>Nombre marca</h2>
    </ion-card-content>
    <ion-card-content item-right>
      <p>{{nom}}</p>
    </ion-card-content>
  </ion-item>

</ion-content>