table {
    border-collapse: collapse;
    width: $width;
    margin-bottom: $margin-bottom;
    color: $color-principal;

    th,td {
    padding: $padding;
    vertical-align: top;
    border-top: 1px solid $color-principal;
    border-bottom: 2px solid $color-principal;
    }
    &:hover {
        background-color: $color-secondari;
    }
}



